/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* COMMON */
html {
    background-color: #1A214C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
    color: lightblue;
}

.common-input {
    border: none;
    width: 400px;
    height: 50px;
    padding: 8px;
    border-radius: 25px;
    background-color: #28336F;
    color: lightblue;
}

.common-label {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #48D5CD;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    height: 70px;
    background-color: #28336F;
}

footer {
    height: 70px;
    background-color: #28336F;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.footer___links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.header__logo-pic {
    height: 64px;
    padding: 3px;
}

.header__cart-pic {
    height: 45px;
    padding: 1px;
    margin-right: 15px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__item {
    margin-right: 30px;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link__button {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #48D5CD;
    border-radius: 20px 20px;
    padding: 7px 15px;
    width: 120px;
    height: 30px;
}

.header__link__button:hover, .button-main:hover, .button__center:hover {
    background-color: #95EAE4;
    cursor: pointer;
}

.header__link__button:hover, .button-main:hover, .button__center:active {
    box-shadow: none;
    top: 5px;
}

.select_header {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 40px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-color: #28336F;
    text-align: center;
    color: white;
}

.select_search {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-color: #28336F;
    text-align: center;
    color: white;
}

.search___block {
    display: inline-block;
    margin-bottom: 10px;
}

.search___radio {
    display: flex;
    align-content: center;
    padding-left: 470px;
    padding-right: 620px;
    justify-content: space-between;
}

table {
    margin: auto;
}

td, th {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


.container-login {
    padding-left: 100px;
    padding-top: 80px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.button-main {
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 25px;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 20px 20px;
}

.button__center {
    text-align: center;
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 25px;
    width: 140px;
    height: 55px;
    border: none;
    border-radius: 20px 20px;
}


.track__list {
    display: flex;
    flex-wrap: wrap;
}

.track__item {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

/*CARDS*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container_card {
    padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.img_card {
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



