/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* COMMON */
html {
    background-color: #1A214C;
    /*background: linear-gradient(to bottom right, #2A274D, #332D6B );*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
    color: lightblue;
}

.common-input {
    border: none;
    width: 400px;
    height: 50px;
    padding: 8px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.common-label {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #48D5CD;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    height: 70px;
    background-color: #28336F;
    /*background: linear-gradient(to bottom right, #554E97, #1A214C );*/

}

.header__logo-pic {
    height: 64px;
    padding: 3px;
}

.header__cart-pic {
    height: 35px;
    padding: 1px;
    margin-right: 15px;
}

.note-pic {
    height: 55px;
    padding: 1px;
    /*margin-right: 15px;*/
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__list_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 100px;
}
.header__list_lang {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__item {
    margin-right: 25px;
}

.header__link {
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}


.header__link__button {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #48D5CD;
    border-radius: 8px;
    padding: 7px 15px;
    width: 120px;
    height: 30px;
}

.header__link__button:hover, .button-main:hover, .button__center:hover {
    background-color: #95EAE4;
    cursor: pointer;
}

.header__link__button:hover, .button-main:hover, .button__center:active {
    box-shadow: none;
    top: 5px;
}

.select_header {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 40px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-color: #28336F;
    text-align: center;
    color: white;
}

.search___block {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 23%;
    margin-top: 20px;
}

.search___radio {
    display: flex;
    align-content: center;
    padding-left: 5%;
    padding-right: 25%;
}

table {
    margin: auto;
    border-bottom: 1px solid #060A23;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.6);
}

td, th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 23px;
    border-bottom: 2px solid #060A23;
}


.container-login {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 70px;
}

.button-main {
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 25px;
    width: 140px;
    border: none;
    border-radius: 8px;
    height: 45px;
}

.button__center {
    text-align: center;
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 25px;
    width: 140px;
    height: 55px;
    border: none;
    border-radius: 8px;
}


.track__list {
    display: flex;
    flex-wrap: wrap;
}

.track__item {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

/*CARDS*/
.card {
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px;
    background-color: #323A6E;
    width: 250px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container_card {
    padding: 4px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.img_card {
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-comments {
    padding-left: 30%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.comments-textarea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    resize: none;
    width: 605px;
    height: 70px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #383F6B;
    color: lightblue;
}

.button-comment {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 8px;
    margin-left: 455px;
    width: 128px;
    height: 38px;
    border: none;
    border-radius: 8px;
}

.container__comment {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    background-color: #28336F;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    margin-bottom: 20px;
}

.p-comment-user {

}

.edit-delete-link {
    margin-left: 410px;
}

.p-comment-date {
    font-size: small;
    color: #CF469D;
    font-style: oblique;
    margin-bottom: 10px;
}

.p-comment-content {
    font-size: medium;
}

.comment-link {
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-size: small;
}

.container-payment-card {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.headlines {
    margin-top: 35px;
    font-size: 43px;
    padding-left: 43%;
}


.headlines-type {
    margin-top: 35px;
    font-size: 43px;
    padding-left: 35%;
}

.headlines--type {
    font-size: 43px;
    padding-left: 35%;
}

.headlines_type {
    margin-top: 35px;
    font-size: 23px;
    padding-left: 20%;
    margin-bottom: 30px;
}

.common-payment-input {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    border-bottom: 1px solid #ddd;
}

.payment-input {
    border: none;
    width: 150px;
    height: 40px;
    padding: 15px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.button__center {
    text-align: center;
    background-color: #48D5CD;
    color: #1A214C;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-bottom: 80px;
}

.payment__td__th {
    padding-top: 10px;
    padding-bottom: 15px;
    width: 200px;
    flex-flow: nowrap;
}

.credit-card-number {
    border: none;
    width: 150px;
    height: 40px;
    padding: 15px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.credit-card-td {
    padding-bottom: 15px;
    padding-right: 10px;
    width: 100px;
    flex-flow: nowrap;
}


.search-input {
    border: none;
    width: 600px;
    height: 50px;
    padding: 8px;
    border-radius: 8px;
    background-color: #404872;
    color: lightblue;

}

input::placeholder {
    color: #1A214C;
    opacity: 90%;
}

.new_releases_headline {
    margin-top: 35px;
    font-size: 45px;
    text-align: left;
    padding-left: 215px;
    color: #CF469D;
    margin-bottom: 30px;
}

.refill_balance_headline {
    margin-top: 35px;
    font-size: 45px;
    text-align: left;
    color: #CF469D;
    margin-bottom: 30px;
}

.form_radio_group {
    overflow: hidden;
    margin-top: 5px;
    display: flex;
}

.form_radio_group-item {
    float: left;
    flex-grow: 1;
    display: flex;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
    flex-grow: 1;
    text-align: center;
}

.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #CF469D;
    color: white;
}

/* Hover */
.form_radio_group label:hover {
    color: white;
}

.table-payment-card {
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    width: 800px;
    border-bottom: 1.5px solid #060A23;
}

.purchased {
    color: #48D5CB;
    opacity: 50%;
}

.user_headline {
    margin-top: 35px;
    font-size: 43px;
}

.td-payment-table {
    text-align: left;
    border-bottom: 1.5px solid #060A23;
    padding: 10px 10px 15px 5px;
}

.td-payment-table-name {
    text-align: left;
    border-bottom: 1.5px solid #060A23;
    padding: 10px 10px 15px 5px;
}

.payment-input-name {
    border: none;
    width: 230px;
    height: 40px;
    padding: 15px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.payment-input-date {
    border: none;
    width: 60px;
    height: 40px;
    padding: 15px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.change_password_button {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #48D5CD;
    border-radius: 8px;
    padding: 7px 15px;
    width: 220px;
    height: 50px;
}

.file_upload {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #48D5CD;
    border-radius: 8px;
    padding: 7px 15px;
    width: 220px;
    height: 50px;
    box-shadow: 0 0 25px 5px #1a214c inset;
}

.img_lang {
    height: 23px;
    padding: 1px;
    margin-right: 5px;
}

.select-artist {
    width: 400px;
    background-color: #1A214C;
    color: lightblue;
    height: 45px;
    padding-left: 10px;
    border-radius: 8px;
}

.edit-track-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 96px;
    margin: 3% 28%;
    box-shadow: 0 20px 70px 0 rgb(0 0 0 / 60%);
    border-radius: 8px;
}

input[type="file"] {
    /*opacity: 0;*/
    /*display: none;*/
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.message_h1 {
    margin-left: 35%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.artist-img {
    height: 250px;
    margin-bottom: 5px;
}

.audio {
    width: 750px;
    height: 26px;
    background-color: white;
}



/*MUSIC-CARD*/
.music-card-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 27%;
    padding-right: 20%;
    padding-top: 20px;
    margin-bottom: 50px;
}

.music-card {
    box-shadow: 0 4px 70px 0 #00000038;
    transition: 0.3s;
    margin-top: 5px;
    background-color: #323A6E;
    width: 750px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.music-cart-pic {
    height: 38px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.music-img {
    margin-left: 49%;
    margin-top: 30px;
    height: 55px;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-button {
    font-size: 18px;
    color: #1A214C;
    text-decoration: none;
    background-color: #48D5CD;
    border-radius: 8px;
    width: 35px;
    height: 30px;
    border: none;
}
.active-page-button {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #CF469D;
    border-radius: 8px;
    width: 35px;
    border: none;
    height: 30px;
}

.track-list {
    margin-top: 50px;
    margin-bottom: 45px;
}

.button-admin {
    background-color: #48D5CD;
    color: #1A214C;
    margin-top: 25px;
    width: auto;
    border: none;
    border-radius: 8px;
    height: 35px;
}


.payment-card{
    box-shadow: 0 4px 70px 0 rgb(0 0 0 / 60%);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 45px;
    background-color: #1A214C;
    width: 650px;
    padding: 45px;
    height: 450px;
}

.payment-card_sum_input {
    border: none;
    width: 250px;
    height: 50px;
    padding: 25px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.payment-card_number {
    border: none;
    width: 100px;
    height: 50px;
    padding: 25px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #28336F;
    color: lightblue;
}

.headlines_type-2 {
    margin-top: 35px;
    font-size: 43px;
    margin-bottom: 40px;
}

.payment_label {
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.payment-card_list {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}



/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete_red_button {
    margin-top: 15px;
    background-color: #E9003A;
    opacity: 80%;
    padding: 6px;
    width: 140px;
    border: none;
    border-radius: 8px;
    height: 35px;
    filter: unset;
    text-align: center;
}

.user_bonus_input {
    border: none;
    width: 75px;
    height: 10px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #28336F;
    color: #CF469D;
}

.pink_button {
    font-size: 18px;
    line-height: 24px;
    color: #1A214C;
    text-decoration: none;
    background-color: #CF469D;
    border-radius: 8px;
    padding: 7px 15px;
    width: 120px;
    height: 30px;
}

.inline_blocks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_card{
    box-shadow: 0 4px 70px 0 rgb(0 0 0 / 60%);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 45px;
    background-color: #1A214C;
    width: 950px;
    padding: 45px;
    height: 550px;
}

.bonus_message {
    margin-bottom: 75px;
    color: white;
}

.bonus_label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    color: #CF469D;
}

