<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>epam-final Maven Webapp</display-name>

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.epam.web.Controller</servlet-class>
    </servlet>

        <servlet>
            <servlet-name>upload</servlet-name>
            <servlet-class>com.epam.web.Controller</servlet-class>
        </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/uploadNew</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>com.epam.web.ContentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

<!--    <jsp-config>-->
<!--        <taglib>-->
<!--            <taglib-uri>customtags</taglib-uri>-->
<!--            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>-->
<!--        </taglib>-->
<!--    </jsp-config>-->

</web-app>